In [94]:

import pandas as pd
from pandas import DataFrame
import re

In [95]:
#IMPORTATION
#reading the workbook
file_info=pd.read_csv("fashion-trend-analysis-QueryResult (1).csv")

target = pd.DataFrame(file_info)

In [96]:
# Here is an example of the dataset before cleaning
target.head(2)

,uniq_id,product_name,manufacturer,price,number_available_in_stock,number_of_reviews,number_of_answered_questions,average_review_rating,amazon_category_and_sub_category,customers_who_bought_this_item_also_bought,description,product_information,product_description,items_customers_buy_after_viewing_this_item,customer_questions_and_answers,customer_reviews,sellers
0,eac7efa5dbd3d667f26eb3d3ab504464,Hornby 2014 Catalogue,Hornby,£3.42,5 new,15.0,1.0,4.9 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Product Description Hornby 2014 Catalogue Box ...,Technical Details Item Weight640 g Product Dim...,Product Description Hornby 2014 Catalogue Box ...,http://www.amazon.co.uk/Hornby-R8150-Catalogue...,Does this catalogue detail all the previous Ho...,Worth Buying For The Pictures Alone (As Ever) ...,"{""seller""=>[{""Seller_name_1""=>""Amazon.co.uk"", ..."
1,b17540ef7e86e461d37f3ae58b7b72ac,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,£16.99,NaN,2.0,1.0,4.5 out of 5 stars,Hobbies > Model Trains & Railway Sets > Rail V...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,Size Name:Large FunkyBuys® Large Christmas Hol...,Technical Details Manufacturer recommended age...,Size Name:Large FunkyBuys® Large Christmas Hol...,http://www.amazon.co.uk/Christmas-Holiday-Expr...,can you turn off sounds // hi no you cant turn...,Four Stars // 4.0 // 18 Dec. 2015 // By\n \...,"{""seller""=>{""Seller_name_1""=>""UHD WHOLESALE"", ..."

In [97]:
#Adding new columns to split category and sub-category as well as extract review dates 

target['category'] = target.amazon_category_and_sub_category
target['sub_category'] = target.amazon_category_and_sub_category
target['recommendations'] = target.customers_who_bought_this_item_also_bought
target['reviews'] = target.customer_reviews
target['dates'] = target.customer_reviews

In [98]:
# extracting the data from columns we would like to transform 
price = target['price'].values
stock_inventory = target['number_available_in_stock'].values
ratings = target['average_review_rating'].values
category = target['category'].values
sub_category = target['sub_category'].values
recommendations = target['customers_who_bought_this_item_also_bought'].values
alternatives = target['items_customers_buy_after_viewing_this_item'].values
questions = target['customer_questions_and_answers'].values
reviews = target['customer_reviews'].values
dates = target['dates'].values

In [99]:
#boolean key sample
pd.isnull(dates)

array([False, False, False, ..., False, False, False])

In [100]:
# creating the boolean keys forlooping through our variables of interest
#each key is unique hence the duplication
bool_series_price = pd.isnull(price)
bool_series_stock_inventory = pd.isnull(stock_inventory)
bool_series_ratings = pd.isnull(ratings)
bool_series_category = pd.isnull(category)
bool_series_sub_category = pd.isnull(sub_category)
bool_series_recommendations = pd.isnull(recommendations)
bool_series_alternatives = pd.isnull(alternatives)
bool_series_questions = pd.isnull(questions)
bool_series_reviews = pd.isnull(reviews)
bool_series_dates = pd.isnull(dates)

In [101]:
# ensuring serialization(for converting to a form easily iterable by the for loop)
Series_price = pd.Series(price)
Series_stock_inventory = pd.Series(stock_inventory)
Series_ratings = pd.Series(ratings)
Series_category= pd.Series(category)
Series_sub_category= pd.Series(sub_category)
Series_recommendations= pd.Series(recommendations)
Series_alternatives= pd.Series(alternatives)
Series_questions= pd.Series(questions)
Series_reviews= pd.Series(reviews)
Series_dates= pd.Series(dates)

In [102]:
#here is how the data looks
print(Series_price[0:3])

0     £3.42
1    £16.99
2     £9.99
dtype: object

In [103]:
#print(float(pd.Series(Series_price[5]).astype(str).str.slice_replace(start=0, stop =1).values[0]))

## Loops for Cleaning

### 1. Price: Here we can remove the redundant "5.0"

In [104]:
Series_ratings[0:3]

0    4.9 out of 5 stars
1    4.5 out of 5 stars
2    3.9 out of 5 stars
dtype: object

In [105]:
# loops to trim the ratings off 
# replacing for start series
k = 0
size = len(bool_series_ratings)
while size > k :
    if bool_series_ratings[k] == False:
        Series_ratings[k] = float((pd.Series(Series_ratings[k]).astype(str).str.slice_replace(start=3)).values[0])
        k=k+1
    else: k=k+1

In [106]:
Series_ratings[0:3]

0    4.9
1    4.5
2    3.9
dtype: object

### 2. Stock: removing the redundant "new"

In [107]:
Series_stock_inventory[0:3]

0    5 new
1      NaN
2    2 new
dtype: object

In [108]:
# loops to number left off goods off
l = 0
size2 = len(bool_series_stock_inventory)
while size2 > l:
    if bool_series_stock_inventory[l] == False:
        Series_stock_inventory[l] = float((pd.Series(Series_stock_inventory[l]).astype(str).str.slice_replace(start=1)).values[0])
        l=l+1
    else: l=l+1

In [109]:
Series_stock_inventory[0:3]

0    5.0
1    NaN
2    2.0
dtype: object

### 3. Price: removing the redundant "£"

In [110]:
Series_price[0:3]

0     £3.42
1    £16.99
2     £9.99
dtype: object

In [111]:
# loops to trim price 

#must convert to type float in pandas 


# replacing for Series_price
k = 0
size = len(bool_series_ratings)
while size > k :
    if (bool_series_ratings[k] == False and Series_price[k] != "NaN"):
        Series_price[k] = (pd.Series(Series_price[k]).astype(str).str.slice_replace(start=0, stop =1)).values[0]
        k=k+1
    else: k=k+1

In [112]:
Series_price[0:3]

0     3.42
1    16.99
2     9.99
dtype: object

### 4. Splitting Category into two levels; Category and Sub-Category

In [113]:
Series_category[0:3]

0    Hobbies > Model Trains & Railway Sets > Rail V...
1    Hobbies > Model Trains & Railway Sets > Rail V...
2    Hobbies > Model Trains & Railway Sets > Rail V...
dtype: object

In [114]:
# need to split category into two 

bool_series_category = pd.isnull(category)
Series_category= pd.Series(category)


# replacing for Series_category
k = 0
size = len(bool_series_category)
while size > k :
    if (bool_series_category[k] == False and Series_category[k] != "NaN"):
        end_index = Series_category[k].index(">")
        Series_category[k] = (pd.Series(Series_category[k]).astype(str).str.slice_replace(start=end_index)).values[0]
        k=k+1
    else: k=k+1

In [115]:
Series_category[0:3]

0    Hobbies
1    Hobbies
2    Hobbies
dtype: object

In [116]:
Series_sub_category[0:3]

0    Hobbies > Model Trains & Railway Sets > Rail V...
1    Hobbies > Model Trains & Railway Sets > Rail V...
2    Hobbies > Model Trains & Railway Sets > Rail V...
dtype: object

In [117]:
# for sub_category 

# replacing for Series_sub_category
k = 0
size = len(bool_series_sub_category)
while size > k :
    if (bool_series_sub_category[k] == False and Series_sub_category[k] != "NaN"):
        
        start = Series_sub_category[k].find(">") + len(">")
        substring = Series_sub_category[k][start:]
        end = substring.find(">")
        Series_sub_category[k] = substring[:end]

        k=k+1
    else: k=k+1

In [118]:
Series_sub_category[0:3]

0     Model Trains & Railway Sets
1     Model Trains & Railway Sets
2     Model Trains & Railway Sets
dtype: object

#### Notice "Hobbies > Model Trains & Railway Sets " becoming "Hobbies " and "Model Trains & Railway Sets " in index 0

### 5. Recommendations: the recommended items are enclosed in amazon website tags

In [119]:
Series_recommendations[0:3]

0    http://www.amazon.co.uk/Hornby-R8150-Catalogue...
1    http://www.amazon.co.uk/Christmas-Holiday-Expr...
2    http://www.amazon.co.uk/Classic-Train-Lights-B...
dtype: object

In [120]:
# recommendations 

# replacing for Series_recommendations
k = 0
size = len(bool_series_recommendations)
while size > k :
    if (bool_series_recommendations[k] == False and Series_recommendations[k] != "NaN"):
        start = Series_recommendations[k].find("http://www.amazon.co.uk/") + len("http://www.amazon.co.uk/")
        end = Series_recommendations[k].find("/dp/")
        Series_recommendations[k]= Series_recommendations[k][start:end]

        k=k+1
    else: k=k+1

In [121]:
Series_recommendations[0:3]

0                        Hornby-R8150-Catalogue-2015
1    Christmas-Holiday-Express-Festive-Train-Set-Toy
2              Classic-Train-Lights-Battery-Operated
dtype: object

### 6. Alternatives : the alternative items are enclosed in amazon website tags

In [122]:
Series_alternatives[0:3]

0    http://www.amazon.co.uk/Hornby-R8150-Catalogue...
1    http://www.amazon.co.uk/Christmas-Holiday-Expr...
2    http://www.amazon.co.uk/Train-With-Tracks-Batt...
dtype: object

In [123]:
# alternatives 
k = 0
size = len(bool_series_alternatives)
while size > k :
    if (bool_series_alternatives[k] == False and Series_alternatives[k] != "NaN"):
        start = Series_alternatives[k].find("http://www.amazon.co.uk/") + len("http://www.amazon.co.uk/")
        end = Series_alternatives[k].find("/dp/")
        Series_alternatives[k]= Series_alternatives[k][start:end]

        k=k+1
    else: k=k+1

In [124]:
Series_alternatives[0:3]

0                        Hornby-R8150-Catalogue-2015
1    Christmas-Holiday-Express-Festive-Train-Set-Toy
2               Train-With-Tracks-Battery-Operated-x
dtype: object

### 7. Questions : removing the irrelevant text after the "//"

In [125]:
Series_questions[0:3]

0    Does this catalogue detail all the previous Ho...
1    can you turn off sounds // hi no you cant turn...
2    What is the gauge of the track // Hi Paul.Trut...
dtype: object

In [126]:
# questions

k = 0
size = len(bool_series_questions)
while size > k :
    if (bool_series_questions[k] == False):
        End = Series_questions[k].index("//")
        
        Series_questions[k]= (pd.Series(Series_questions[k]).astype(str).str.slice(start=0, stop = End)).values[0]

        k=k+1
    else: k=k+1

In [127]:
Series_questions[0:3]

0    Does this catalogue detail all the previous Ho...
1                             can you turn off sounds
2                      What is the gauge of the track
dtype: object

### 8. Reviews : removing the irrelevant text after the "//"

In [128]:
Series_reviews[0:3]

0    Worth Buying For The Pictures Alone (As Ever) ...
1    Four Stars // 4.0 // 18 Dec. 2015 // By\n    \...
2    **Highly Recommended!** // 5.0 // 26 May 2015 ...
dtype: object

In [129]:
#Series_reviews

k = 0
size = len(bool_series_reviews)
while size > k :
    if (bool_series_reviews[k] == False):
        end = Series_reviews[k].index("//")
        
        Series_reviews[k]= (pd.Series(Series_reviews[k]).astype(str).str.slice(start=0, stop = end)).values[0]

        k=k+1
    else: k=k+1

In [130]:
Series_reviews[0:3]

0    Worth Buying For The Pictures Alone (As Ever)
1                                       Four Stars
2                          **Highly Recommended!**
dtype: object

### 9. Dates :extracting dates from the reviews.

In [131]:
#Series_dates

k = 0
size = len(bool_series_dates)
while size > k :
    if (bool_series_dates[k] == False and Series_dates[k] != "NaN"):
        start = Series_dates[k].find(".0 // ")+len(".0 // ")
        end = Series_dates[k].find("// By")
        Series_dates[k] = Series_dates[k][start:end]
        k=k+1
    else: k=k+1

In [132]:
Series_dates[0:2]

0    6 April 2014
1    18 Dec. 2015
dtype: object

### 10. Storing the new file

In [133]:
#creating new file 
#Create file using an empty/dummy dataframe
clean_fashion = pd.DataFrame(
columns=['product_name','manufacturer', 'price(£)','inventory_count',
         'review_count','answered_questions','rating','category',
         'sub_category','recommendations','alternatives','questions',
         'reviews','dates'])
#clean_fashion.head()

clean_fashion['product_name'] = target.product_name
clean_fashion['manufacturer'] = target.manufacturer
clean_fashion['inventory_count'] = target.number_available_in_stock
clean_fashion['price_£'] = Series_price
clean_fashion['rating'] = Series_ratings
clean_fashion['review_count'] = target.number_of_reviews
clean_fashion['answered_questions'] = target.number_of_answered_questions
clean_fashion['category'] = Series_category
clean_fashion['sub_category'] = Series_sub_category
clean_fashion['recommendations'] = Series_recommendations
clean_fashion['alternatives'] = Series_alternatives
clean_fashion['questions'] = Series_questions
clean_fashion['reviews'] = Series_reviews
clean_fashion['dates'] = Series_dates

In [134]:
clean_fashion.head(2)

,product_name,manufacturer,price(£),inventory_count,review_count,answered_questions,rating,category,sub_category,recommendations,alternatives,questions,reviews,dates,price_£
0,Hornby 2014 Catalogue,Hornby,NaN,5.0,15.0,1.0,4.9,Hobbies,Model Trains & Railway Sets,Hornby-R8150-Catalogue-2015,Hornby-R8150-Catalogue-2015,Does this catalogue detail all the previous Ho...,Worth Buying For The Pictures Alone (As Ever),6 April 2014,3.42
1,FunkyBuys® Large Christmas Holiday Express Fes...,FunkyBuys,NaN,NaN,2.0,1.0,4.5,Hobbies,Model Trains & Railway Sets,Christmas-Holiday-Express-Festive-Train-Set-Toy,Christmas-Holiday-Express-Festive-Train-Set-Toy,can you turn off sounds,Four Stars,18 Dec. 2015,16.99

In [135]:
# writing to sheet in excel file 
clean_fashion.to_csv("Clean_amzn_dataset.csv",index = False)

print('done')

done

#### Future work would include writing a "cleaner" function